# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

#
.venv/*

# Python compiled byte code
*.pyc
# SQLite3 database
*.sqlite

# Node modules
node_modules/
build/
build-dist/
yarn.lock
npm-debug.log
.env.development
package-lock.json

# Webpack
webpack-stats*.json

# Coverage 
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# Folders
.DS_Store
