/*Panel Group*/
#filter-feeds {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#filter-feeds #filter-by-block h1 {
  color: #fff;
  width: 100%;
  font-size: 24px;
  padding: 7px 10px;
  text-align: center;
  margin-bottom: 5px;
  background: #7ed12d;
  text-transform: uppercase;
}

#filter-feeds #filter-by-block .card-header {
  border-color: #dedede;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
  padding: 10px 15px;
  color: #687074;
}

#filter-feeds #filter-by-block .card-title {
  font-size: 20px;
}

#filter-feeds #filter-by-block .card-title :hover {
  text-decoration: none;
  cursor: pointer;
}

#filter-feeds #filter-by-block .card-body {
  padding: 15px 0px 15px 20px;
}

#filter-feeds #filter-by-block svg {
  font-size: 18px;
}

#filter-feeds #filter-by-block .form-check {
  cursor: pointer;
}

#filter-feeds #filter-by-block .form-check label {
  width: 100%;
}

#filter-feeds #filter-by-block .form-check svg {
  font-size: 15px;
}

#filter-feeds #filter-by-block .form-check * {
  cursor: pointer;
}

#filter-feeds #filter-by-block .accordion {
  margin-bottom: 20px;
}

#filter-feeds #filter-by-block #btn-reset {
  background: 0;
  color: #555;
  border: solid 1px #7ed12d;
  border-radius: 0;
  margin-bottom: 30px;
}

#filter-feeds #filter-by-block #btn-reset:hover {
  background: #5fb611;
  color: #fff;
}
