#tl-popular-feeds {
  overflow: scroll;
}

.gallery-list,
.rmb-placeholder {
  padding-right: 15px;
  padding-left: 15px;
}

.gallery-list div.list-item-sm,
.rmb-placeholder div.list-item-sm {
  display: flex;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  align-items: center;
  background-color: #e1e4e8;
}

.gallery-list div.list-item-md,
.rmb-placeholder div.list-item-md {
  display: block;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  align-items: center;
  background-color: #e1e4e8;
}

.gallery-list div.list-item-md > a,
.rmb-placeholder div.list-item-md > a {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
}

.gallery-list .pop-image,
.rmb-placeholder .pop-image {
  padding-right: 10px;
  padding-left: 0;
  overflow: hidden;
}

.gallery-list .pop-image img,
.rmb-placeholder .pop-image img {
  width: 100%;
  height: auto;
}

.gallery-list .fav-image-element,
.rmb-placeholder .fav-image-element {
  padding-right: 10px;
  padding-left: 0;
  height: 110px;
  width: auto;
  overflow: hidden;
  margin-bottom: 0.7rem;
}

.gallery-list .fav-image-element img,
.rmb-placeholder .fav-image-element img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-list .img-responsive,
.rmb-placeholder .img-responsive {
  height: 100%;
}

.video-without-caption article:hover .full-img-thumb,
.video-with-caption article:hover .full-img-thumb {
  opacity: 0.7;
}

.video-without-caption article .full-img-thumb.video_thumb,
.video-with-caption article .full-img-thumb.video_thumb {
  height: auto !important;
}

.video-without-caption article .full-img-thumb,
.video-with-caption article .full-img-thumb {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
}

.video-without-caption article .full-img-thumb img,
.video-with-caption article .full-img-thumb img {
  position: relative;
  margin: auto;
  height: auto;
  width: 100%;
  min-height: 140px;
}

.video-without-caption article .full-img-thumb .icon-post-format,
.video-with-caption article .full-img-thumb .icon-post-format {
  position: absolute;
  z-index: 2;
  text-align: center;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 38px;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -21px;
  font-size: 16px;
  opacity: 1;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.video-without-caption article .full-img-thumb .icon-post-format svg,
.video-with-caption article .full-img-thumb .icon-post-format svg {
  margin-left: 2px;
}

.video-with-caption article {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 3px solid #eeeeee;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.video-with-caption article:hover {
  border-color: #72c02c !important;
}

.video-with-caption article .full-img-thumb.video_thumb {
  margin: 0 auto 10px;
}

.video-with-caption article .video-caption {
  background-color: #f3f3f3 !important;
  padding: 15px;
  margin-top: -10px;
}

.video-with-caption article .video-caption h5 {
  margin: 5px;
}

.posts .dl-horizontal {
  display: flex;
}

.posts .dl-horizontal dt img {
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-top: 2px;
  border: solid 1px #ddd;
}

.posts .dl-horizontal dt img:hover {
  border-color: #7ed12d;
}

.posts .dl-horizontal dd {
  width: 100%;
  margin-top: 2px;
  margin-left: 10px;
}

ul.dp-updates li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

ul.dp-updates h3 {
  font-size: 14px;
  margin: 0 0 5px;
  line-height: 17px;
}

ul.dp-updates small {
  color: #777;
}

ul.dp-updates small a {
  color: #777;
}

ul.dp-updates small + small::before {
  padding: 0 5px;
  content: '/\00a0';
}

ul.pop-questions-list {
  padding-left: 0;
}

ul.pop-questions-list .question-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #ecedee;
  margin-bottom: 15px;
}

ul.pop-questions-list .question-item .questions-div svg {
  margin: 0 10px 0 0;
}

ul.pop-questions-list .question-item .questions-div small.post-meta {
  color: #777;
  display: block;
}

ul.pop-questions-list .question-item .questions-div small.post-meta a {
  color: #777;
}

ul.pop-questions-list
  .question-item
  .questions-div
  small.post-meta
  span
  + span::before {
  padding: 0 5px;
  content: '/\00a0';
}
