@import "variables";

@mixin mb($amount) {
  margin-bottom: $amount;
}
@mixin margin-top($amount) {
  margin-top: $amount;
}
@mixin margin-right($amount) {
  margin-right: $amount;
}
@mixin ml($amount) {
  margin-left: $amount;
}
@mixin mxmargin($amount) {
  margin: $amount;
}

@mixin heading-small() {
  text-transform: none;
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: $grey-500;
}
@mixin heading-font-style() {
  color: $text-color;
  @include margin-top(5px);
  @include mb(10px);

  text-shadow: none;
  font-weight: normal;
}
@mixin heading-class-style() {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid $theme-green-200;
}
