@import "config";
@import "./Blog.scss";

#dp-timeline {
  padding-left: 6px;
  position: relative;
  flex: 1;
  overflow-y: scroll;
  .item {
    position: relative;
    padding-left: 20px;
    &:before {
      // the line
      top: -50px;
      bottom: 0;
      width: 4px;
      content: "";
      background: #f3f3f3;
      position: absolute;
      margin-left: -14px;
    }
  }
}

.cbp_tmlabel {
  color: #fff;
  padding: 10px 20px 10px;
  background: #f3f3f3;
  line-height: 1.4;
  clear: both;
  position: relative;
  border-radius: 5px;
  @include mxmargin(0 0 40px 10px);
  &:after {
    /* The triangle */
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f3f3f3;
    border-width: 10px;
    top: 20px;
  }
  h2 {
    margin-top: 0px;
    font-size: 20px;
    padding: 0 0 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
    svg {
      font-size: 18px;
      @include mxmargin(0 5px 0 0);
    }
  }
  img.img-sm {
    min-height: 400px;
  }
  .timeline-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
    color: black;
    align-items: center;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }
  /* ===== Timeline Tags ===== */
  .timeline-tags {
    a {
      padding: 3px 4px;
      @include mxmargin(4px 4px 4px 0);
      background: #fff;
      border: 1px solid #dedede;
      color: $theme-gray;
      text-decoration: none;
      font-size: 0.9em;
      white-space: nowrap;
      display: inline-block;
      &:hover {
        background: $theme-green;
        color: $color-white;
        border-color: $theme-green;
        &::before {
          color: $color-white;
        }
      }
    }
  }
}

.timeline-icon {
  top: 23px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  background: $theme-green;
  color: $theme-green;
  margin: 0 0 0 -17px;
  box-shadow: 0 0 0 4px #f3f3f3;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .dp-timeline2 > .item .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 47.2em) {
  .dp-timeline2:before {
    display: none;
  }

  .dp-timeline2 > .item .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .dp-timeline2 > .item .cbp_tmtime span {
    text-align: left;
  }

  .dp-timeline2 > .item .cbp_tmlabel {
    padding: 1em;
    font-weight: 400;
    @include mxmargin(0 0 30px 0);
  }

  .dp-timeline2 > .item .cbp_tmlabel:after {
    display: none;
  }

  .dp-timeline2 > .item .cbp_tmicon {
    display: none;
  }
}

/* FLEX BOX Settings */
.flex-container {
  height: 100vh;
  flex-direction: row;
  display: flex;
  #dp-timeline-menubar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
}

/* FLEXBOX SETTINGS END */
.media-container {
  margin-top: 40px;
  .video {
    padding: 0 0 60%;
  }
  .map {
    padding: 0 0 40%;
  }
  img {
    max-width: 100%;
  }
  .video,
  .map {
    position: relative;
    display: block;
    line-height: 0;
    text-align: center;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
    }
  }
}
