

// Brand Color Shades.
$theme-green: #7ED12D;
$theme-green-200: #72C02C;
$theme-green-300: #5FB611;

$primary: $theme-green;
$success: $theme-green;
$green: $theme-green;

$color-white: #FFFFFF;
$grey-100: #F9F9F9;
$grey-200: #F3F3F3;
$gray-300: #EEEEEE;
$gray-400: #DDDDDD; // used for border colors.
$grey-500: #999999;
$grey-600: #777777;
$grey-700: #555555;
$grey-800: #515151;



$theme-black: #303030;
$footer-color: #272727;

$font-lato-serif: "Lato", sans-serif;

$text-color: $grey-700;
$body-color: $grey-700;
//$green: red;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":         $primary,
    //"brand":           $brand,
    "success":         $success,
    //"info":            $accent-a,
    //"warning":         $accent-b,
    //"danger":          $danger,
    //"light":           $light,
    //"dark":            $dark,
    //"accent-a":        $accent-a,
    //"accent-b":        $accent-b,
  ),
  $theme-colors
);

$font-family-base: $font-lato-serif;
$btn-font-family: $font-lato-serif;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$link-color:#585f69;
$link-hover-color: $theme-green-200;
$link-hover-decoration: none;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
//$font-size-lg:                $font-size-base * 1.25 !default;
//$font-size-sm:                $font-size-base * .875 !default;
//
//$font-weight-lighter:         lighter !default;
//$font-weight-light:           300 !default;
//$font-weight-normal:          400 !default;
//$font-weight-bold:            700 !default;
//$font-weight-bolder:          bolder !default;
//
//$font-weight-base:            $font-weight-normal !default;
//$line-height-base:            1.5 !default;
//
//$h1-font-size:                $font-size-base * 2.5 !default;
//$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.3;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base !default;
